<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<h1>Список задач</h1>
<ul>
    {% for todo in todos %}
        <li>{{ todo.title }} - {{ todo.description }} ({{ todo.due_date }})</li>
    {% endfor %}
</ul>
<a href="{% url 'todo_create' %}">Создать новую задачу</a>
<h1>{{ todo.title }}</h1>
<p>{{ todo.description }}</p>
<p>Срок выполнения: {{ todo.due_date }}</p>
<p>Статус: {% if todo.status %} Выполнено {% else %} Не выполнено {% endif %}</p>
<a href="{% url 'todo_list' %}">Назад к списку задач</a>
<h1>Создать задачу</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Создать</button>
</form>
</body>
</html>